<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <ol class="breadcrumb">
        <li><%= link_to "Cartes Annonces", admin_ad_cards_path %></li>
        <li class="active">Nouvelle carte annonce</li>
      </ol>

      <h1>Nouvelle carte annonce</h1>

      <%= render partial: 'form' %>
    </div>
  </div>
</div>
